/* Global CSS Variables */
:root {
  --main-background: #dbd8d8;
  --main-primary: #298b43;
  --main-secondary: #217237;
  --link-color: #222;
  --link-active-color: #fff;
  --default-link-color: #646cff;
  --default-link-hover-color: #535bf2;
  --tech-green: #37c25c;
}


body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(1, 0, 0, 0.87);
  background-color: var(--main-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--default-link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--default-link-hover-color);
}

ul {
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ededed;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


header {
  margin-bottom: 2em;
  position: relative;
  background-color: var(--main-primary);
  padding: 1em;
  display: flex;
}

header span {
  min-width: fit-content;
  z-index: 999;
  float: left;
  font-weight: bold;
  flex: 25%;
  padding-right: 5em;
}


footer {
  padding: 1em;
}

/* Container Styles */
.container {
  width: 95%;
  max-width: 1000px;
  padding-bottom: 2em;
  margin: -2.5em auto 2em;
  background: var(--link-active-color);
  border-radius: .5em;
  box-shadow: 0 3px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.container p {
  margin-left: 2%;
  margin-right: 2%;
}

/* External Links */
.externalLink {
  background-color: var(--main-primary);
  transition: background-color 0.3s ease;
  color: var(--link-color);
  border-radius: 0.5em;
  padding: 0.75em;
  text-align: center;
}
.externalLink:hover {
  background-color: var(--main-secondary);
  color: #fff;
}

/* Navbar */
#navbar {
  width: 90%;
  flex: 100%;
}

#navbar a {
  font-size: 95%;
  color: var(--link-color);
  text-align: center;
  text-transform: uppercase;
  padding: 1em;
  transition: .2s;
  list-style-type: none;
}

#navbar a:hover,
#navbar .active {
  color: #fff;
  background: var(--main-secondary);
  transition: background-color 0.3s ease;
}

.navbarLink {
  display: inline; 
  padding: 0.5em;
}

#nameSpan {
  color: var(--link-color);
}


/* Home */

#homepageContent {
  text-align: left;
  width: 85%;
  margin: auto;
}

#homepageDiv {
  display: block;
}

#shortcutsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  margin-top: 3em;
}

.shortcutContainer {
  flex: 20%;
}

.shortcutContainer img {
  max-width: 35%;
  height: auto;
  background-color: var(--main-primary);
  padding: 2em;
  border-radius: 1em;
}

.shortcutContainer img:hover {
  background-color: var(--main-secondary);
}


/* About */

#aboutContent {
  display: block;
  text-align: left;
}

.aboutMe {
  width: 45%;
  margin: auto;
  text-align: center;
}

#aboutContent h2, h3 {
  text-align: center;
}

#educationContainer {
  width: 85%;
  margin: auto;
}

.education {
  display: flex;
  margin: 0.5em;
}

.dateRange {
  text-align: center;
}

.educationList {
  flex: 35%;
  text-align: left;
  margin: 0 auto au;
}

.course-cert {
  width: 85%;
  margin: auto;
}

.relevantCoursework {
  flex: 65%;
}

#workExperience {
  width: 85%;
  margin: auto;
}

/* Treehouse Widget */
#widgetFootnote{
  font-style: italic;
  text-align: center;
  font-size: 80%;
}

#treehouseWidget {
  border: var(--main-primary) solid 0.5em;
  border-radius: 0.5em;
  margin: auto;
  max-width: 80%;
  display: flex;
}

#treehouseWidgetText {
  text-align: center;
  flex: 40%;
  padding: 1em;
  margin: auto;
}

#treehouseWidgetText p {
  margin-top: 2em;
}

#pointsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  margin: 1em;
}

#pointsContainer p{
  text-align: center;
}

#pointsContainer h4 {
  margin: auto;
}

#pointDisplayContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
}

.pointDisplay {
  display: block;
  flex: 20%;
  padding: 0.5em;
  margin: 0.5em;
}


/* Projects */

#projectsContainer {
  width: 85%;
  margin: auto;
}

.projectDivider {
  border-top: 3px solid var(--link-color);
  width: 75%;
  color: var(--link-active-color);
}

.project {
  display: flex;
  padding: 0.5em;
}

.projectText {
  flex: 55%;
  margin: auto;
  text-align: center;
  padding: 1em;
}

.projectImgDiv {
  flex: 45%;
  margin: auto;
}

.projectImg {
  max-width: 100%;
  max-height: fit-content;
}

.projectTechContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.projectTech {
  margin: 0.5em;
  background-color: var(--tech-green);
  padding: 0.5em;
  border-radius: 1em;
  text-align: center;
  box-shadow: 2px 1px 1px var(--main-primary);
}

.projectDescription {
  text-align: left;
}

/* Resume */

#resumeDisplay {
  width: 85%;
  height: 1110px;
}